body{background-color:rgb(88, 85, 94); color:white;}
/*Let's play the game*/
.style-let{font-family: 'Russo One', sans-serif; font-size:8em; text-shadow:4px 4px 10px black;}

/*Rock, Paper, Scissors, Lizard and Spock*/
.style-rps{font-family: 'Press Start 2P', cursive; font-size:2em; text-shadow:2px 2px 5px rgb(184, 27, 48);}

/*Number of maches*/
.style-choose{margin:auto; width:75em; height:35em; border-radius:30px; border:dashed rgb(255, 255, 255); box-shadow:0 0 40px black; text-align:center; background-color:rgb(29, 27, 32);}
.style-matches{font-family:'Orbitron', sans-serif; font-size:70px; font-weight:bold;}
.option{font-family:'Orbitron', sans-serif; font-size:50px; color:rgba(184, 27, 48); text-decoration:none;}
.option:hover{font-size:60px; color:white;}
.set{color:rgba(255, 255, 0, 0);}
.set:hover{color:orange; font-size:70px; text-shadow:0px 10px 8px rgba(184, 27, 48);}
.option:active{color:rgba(255, 166, 0, 0.473); font-size:60px;}

/*Home*/
.home{font-family:'Orbitron', sans-serif; font-size:40px; text-decoration:none; color:white; text-shadow:2px 2px 5px white;}
.home:hover{color:rgba(255, 255, 255, 0.575);}

/*Point*/
.board{width:26em; height:10em; margin:auto; border:dashed white; font-family:'Orbitron', sans-serif; box-shadow:0 0 40px black; border-radius:10px; background-color:rgb(29, 27, 32);}
.point{width:100%; text-align:center; font-size:8em;}

.style-user{background-color:rgb(184, 27, 48); width:5em; position:relative; font-size:40px; bottom:4em; right:6em; text-align:center; box-shadow:0 0 15px rgb(184, 27, 48); border-radius:10px;}
.style-pc{background-color:orange; width:5em; position:relative; font-size:40px; float:right; bottom:4em; right:-6em; text-align:center; box-shadow:0 0 15px orange; border-radius:10px;}

/*Hands*/
.pc-hand{transform:rotateY(180deg); max-width:50em; margin:auto;}
.user-hand{max-width:50em; margin:auto;}
.center-hands{justify-content:center; display:flex; position:relative; top:-3em;}

@keyframes shakeUser {
    0% {transform: rotateY(180deg) translateY(0px);}
    15% {transform: rotateY(180deg) translateY(-50px);}
    25% {transform: rotateY(180deg) translateY(0px);}
    35% {transform: rotateY(180deg) translateY(-50px);}
    50% {transform: rotateY(180deg) translateY(0px);}
    65% {transform: rotateY(180deg) translateY(-50px);}
    75% {transform: rotateY(180deg) translateY(0px);}
    85% {transform: rotateY(180deg) translateY(-50px);}
    100% {transform: rotateY(180deg) translateY(0px);}
  }
@keyframes shakePC {
    0% {transform: rotateY(180deg) translateY(0px);}
    15% {transform: rotateY(180deg) translateY(-50px);}
    25% {transform: rotateY(180deg) translateY(0px);}
    35% {transform: rotateY(180deg) translateY(-50px);}
    50% {transform: rotateY(180deg) translateY(0px);}
    65% {transform: rotateY(180deg) translateY(-50px);}
    75% {transform: rotateY(180deg) translateY(0px);}
    85% {transform: rotateY(180deg) translateY(-50px);}
    100% {transform: rotateY(180deg) translateY(0px);}
  }

/*Phase*/
.style-phase{font-family:'Orbitron', sans-serif; font-size:50px; font-weight:bold; text-align:center; color:white; padding-bottom:10px;}

/*Choose*/
.choose{width:100%;}
.choices{position:relative; margin:auto; text-align:center; padding:1em; top:-3em;}
.c{padding:20px; font-size:3em;}
.c:hover{color:black;}

/*Restart*/
.style-re{font-family:'Orbitron', sans-serif; font-size:2em; color:white; font-weight:bold; text-decoration:none; box-shadow:0 0 30px rgb(29, 27, 32); background-color:rgb(29, 27, 32); padding:15px; transition:all 0.5s;}
.style-link-re{justify-content:center; display:flex; position:relative; top:-30em;}
.style-re:hover{box-shadow:0 0 30px white;}








