body{font-family:'Orbitron', sans-serif; background-image: url(https://wallpaperaccess.com/full/857915.jpg);}
*{text-decoration: none; font-family:'Orbitron', sans-serif; color:white; box-sizing: border-box; border: none; margin: 0; padding: 0; font-size: x-large;}


/*Let's play the game*/
.title h1, i{font-size: 4rem; color: rgba(184, 27, 48);}
/*Rock, Paper, Scissors, Lizard and Spock*/
.title p{font-size: 2rem; color: orange;}

/*Number of maches*/
.p-choose{display: flex; justify-content: center;}
.choose{padding: 3rem; margin: 2rem; width: 90%; height: 25rem; border-radius: 1rem; border: dashed; box-shadow: 0 0 40px black; text-align: center; background-color: rgba(29, 27, 32, 0.8);}
.choose h1{font-size: 2.5rem; padding-bottom: 1.5rem 0;}
.choose a{font-size: 2rem; color:rgba(184, 27, 48); width: 100%; display: inline-table; transition: all .2s;}
.choose a:hover{font-size: 2.5rem; color: white; text-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.7);}
.choose a i{opacity: 0; font-size: 2.5rem; color: orange; text-shadow: 0 0.5rem 1rem rgba(255, 0, 0, 0.7);}
.choose a:hover i{opacity: 1;}

/*Home*/
.home i{position: relative; font-size: 4rem; color: rgba(184, 27, 48); text-shadow: 0 0 1rem white; transition:all 0.5s; padding: 0.5%; z-index: 4;}
.home i:hover{text-shadow: 0 0 1rem rgba(184, 27, 48); color:white;}

/*Restart*/
.restart i{position:relative; float: right; font-size: 4rem; color:orange; text-shadow: 0 0 1rem white; transition:all 0.5s; padding: 0.5%; z-index: 4;}
.restart i:hover{text-shadow: 0 0 1rem orange; color: white;}

/*Score board*/
.board{box-shadow: 0 0 1rem rgb(29, 27, 32); border-radius: 50%; background-color: rgb(29, 27, 32); width: 20rem; margin: auto; position: relative; text-align: center; padding: 2rem; margin-top:-1.5%; font-size: 5rem;}
.board div p{font-size: 1.5rem; display: flex; height: 100%; justify-content: center; align-items: center;}
.board div{background-color:rgb(29, 27, 32); box-shadow:0 0 15px rgb(29, 27, 32); border-radius: 50%; width: 5rem; height: 5rem;}
#pc_point{position: absolute; top:-2rem; right: -1.5rem;}
#user_point{position: absolute; top:-2rem; left: -1.5rem;}
.board span{font-size: 5rem;}

/*Hands*/
.user-hand{width: 35%; margin-right: auto;}
.pc-hand{width: 35%; margin-left: auto; transform:rotateY(180deg);}
.center-hands{width: 100%; display: flex; position: relative; justify-content: center;}

/*Phrase*/
.style-phrase{font-size: 2.5rem; position: relative; width: 100%; text-align: center; background-color: rgba(29, 27, 32, 0.5); padding: 5px 0px; display: block;}

/*Choices*/
.choices{position: relative; z-index: 3; left: 0; right: 0; display: flex; justify-content: center; background-color: rgba(29, 27, 32, 0.5);}
.c{color: white; text-shadow: 0 0 1rem rgb(29, 27, 32); font-size: 4.5rem; transition: all 0.5s; cursor: pointer; padding: 1rem 2rem;}
.c:hover{color:rgb(29, 27, 32); text-shadow: 0 0 1rem white;}

/*YOU LOSE & YOU WIN*/
.style-lw{font-family: 'Bowlby One SC', cursive; z-index: 2; font-size: 220px; display: flex; position: absolute; margin: auto; top:0; right: 0; left: 0; bottom: 0; justify-content: center; align-items: center;}

/*320px — 480px: Mobile devices*/
@media (min-width:320px) and (max-width:480px){
  *{font-size: x-small;}
}
/*481px — 768px: iPads, Tablets*/
@media (min-width:481px) and (max-width:768px){
  *{font-size: x-small;}
}
/*769px — 1024px: Small screens, laptops*/
@media (min-width:769px) and (max-width:1024px){
  *{font-size: small;}
}
/*1025px — 1200px: Desktops, large screens*/
@media (min-width:1025px) and (max-width:1200px){
  *{font-size: medium;}
}

/*User's hand movement*/
@keyframes shakeUser {
  0%{transform:translateY(0px);}
  15%{transform:translateY(-50px);}
  25%{transform:translateY(0px);}
  35%{transform:translateY(-50px);}
  50%{transform:translateY(0px);}
  65%{transform:translateY(-50px);}
  75%{transform:translateY(0px);}
  85%{transform:translateY(-50px);}
  100%{transform:translateY(0px);}
}
/*PC's hand movement*/
@keyframes shakePC {
  0%{transform:rotateY(180deg) translateY(0px);}
  15%{transform:rotateY(180deg) translateY(-50px);}
  25%{transform:rotateY(180deg) translateY(0px);}
  35%{transform:rotateY(180deg) translateY(-50px);}
  50%{transform:rotateY(180deg) translateY(0px);}
  65%{transform:rotateY(180deg) translateY(-50px);}
  75%{transform:rotateY(180deg) translateY(0px);}
  85%{transform:rotateY(180deg) translateY(-50px);}
  100%{transform:rotateY(180deg) translateY(0px);}
}